<div class="subimg">
  <div class="main-textdiv">
    <h1>Dakishvili Family</h1>
    <h4>Life gets better when you can touch and feel finesse</h4>
    <span>
      <div class="leftline"></div>
      <div class="years">
        <h2>estd2020</h2>
      </div>
      <div class="rightline"></div>
    </span>
  </div>
</div>

<div class="asi">
  <div class="asideleft">
    <h1 id="asidelefth1">დაქიშვილების ოჯახი</h1>
    <p class="asideleftP">
      დაქიშვილების ოჯახის წინაპრები საქართველოში 1750-იან წლებში
      ჩამოვიდნენ ჩრდილოეთ კავკასიიდან, ჩეჩნენეთის, არგუნის ხეობიდან
      და დასახლდნენ პანკისის ხეობაში. მათი ძირითადი საქმიანობა აგრარული
      მეურნეობა იყო, რომელიც დღემდე გრძელდება. 1900-იანი წლების
      დასაწყისში დეკანოზმა სიმონ დაქიშვილმა დაიწყო ღვინის დაყენება
      საეკლესიო მსახურებისთვის. დღეს, დაქიშვილები დაგროვილი
      ტრადიციული გამოცდილებითა და თანამედროვე ცოდნის გამოყენებით
      აყენებენ ღვინოს. გოგი, თემური და ილონა დაქიშვილების ოჯახის პროფესიონლი
      ენოლოგები არიან და მათ მიერ ხდება ღვინის დაყენება
    </p>
  </div>
  <div class="asideright">
    <div class="leftimgbig">
      <div class="img1">
        <img src="/assets/fotoebi/about1.jpg" alt="" />
      </div>
    </div>
    <div class="rightbigdiv">
      <div class="img1">
        <img src="/assets/fotoebi/about2.jpg" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="fixedimg"></div>

<div class="wineagw">
  <h1>დაქიშვილების ოჯახი</h1>
  <div class="textarealdiv">
    <span></span>
    <p>Life gets better when you can touch and feel finesse</p>
    <span></span>
  </div>
  <div class="tripdiv">
    <div class="wineagw-left">
      <h3><mark>11</mark> Vineyards AREA IN HECTARE</h3>
    </div>

    <div class="wineagw-right">
      <h3><mark>50</mark>K Bottle of wine in this year</h3>
    </div>
  </div>
</div>

<aside>
  <div class="winesdiv">
    <div class="winesitem">
      <img src="/assets/fotoebi/about3.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/about4.jpg" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/about5.JPG" alt="" />
    </div>
    <div class="winesitem">
      <img src="/assets/fotoebi/about6.jpg" alt="" />
    </div>
  </div>
</aside>