<main>
  <figure></figure>
  <section>
    <div class="section-left" style="display: flex; justify-content: center">
      <h2 style="text-align: center">
        დაქიშვილების ოჯახის ღვინისა<br />
        და<br />
        შოკოლადის ბუტიკი
      </h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
       დაქიშვილის ღვინის ბუტიკი და სადეგუსტაციო  განსხვავებულია თელავში არსებულ სხვა ღვინის დასაგემოვნებელ ადგილებისგან.
2023 წლის გაზაფხულზე დაქიშვილების ოჯახის მიერ დაარსებული ეს ღვინის ბუტიკი თბილი და მყუდრო  ღვინის ატმოსფეროს გთავაზობთ.
განტვირთვის გარდა, აქ არის შესაძლებელი, რომ მცირე  დროით გახდე ღვინის ექსტერტი და შეიცნოთ ღვინის დაყენებისა და დეგუსტაციის  (ანტიკური, კლასიკური, სადესერტო და ცქრიალა)  დეტალები.
ბუტიკში წარმოდგენილია ეკო-მდგრადი ღვინოების კოლექციის ფართო არჩევანი,  საუკეთესო  ფასად.

სადეგუსტაციო სივრცეში შესაძლებელია ღვინოსთან მისადევნებელი შაშხის და ძეხვეულის, ყველის, ვეგანური (ადგილობრივი ტკბილეულის), ახლად გამომცხვარი პურისა და დაქიშვილების ხელნაკეთი შოკოლადის დაგემოვნება.
დაქიშვილების ღვინის ბუტიკი ვიზიტორებს სტუმართმოყვარეობისა და თბილი ატმოსფეროს გარდა, სთავაზობს საოჯახო სარეზერვო ექსკლუზიური ღვინოების დაგემოვნების შესაძლებლობას. 

      </p>
    </div>
  </section>
  <div class="figcaption"></div>
  <!-- ! -->

  <div class="wineagw">
    <h1>ბუტიკის გარემო</h1>
    <div class="textarealdiv">
      <span></span>
      <p>
        აქ არის წყნარი ატმოსფერო, სადაც დაქიშვილების მარნის ძველმა კასრებმა ახალი სიცოცხლე იპოვეს, ღვინის მოყვარულებისთვის ისინი მაგიდებად და სავარძლებად იქცნენ.
      </p>
      <span></span>
    </div>
     <aside>
      <div class="winesdiv">
        <div class="winesitem">
          <img src="/assets/fotoebi/boutique1.JPG" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/boutique22.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/boutique3.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/boutique4.jpeg" alt="" />
        </div>
      </div>
    </aside>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.3175051978109!2d45.47334117837289!3d41.918261059764184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24f090f1fea12857%3A0x349f005d6d57886e!2sDakishvili%20Wine%20%26%20Chocolate!5e0!3m2!1ska!2sge!4v1749548209436!5m2!1ska!2sge"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
