<main>
  <figure></figure>
  <section>
    <div class="section-left" style="display: flex; justify-content: center">
      <h2 style="text-align: center">
        Dakishvili family wine<br />
        <br />
        Cellar
      </h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
      Dakishvili wine cellar specializes in producing high-end wines of limited quantity. It was founded in
2002 by Giorgi Dakishvili.
The wine cellar is located in the village of Shalauri in the most famous wine region Kakheti, in the
eastern part of Georgia.
The region Kakheti has a deep winemaking tradition, and it is recognized as the birthplace of Amber skin
contact wine technology.
Mountains and forests surround the village of Shalauri, one of the Eko cleanest areas in the region.
Making wine is a sense of life for the Dakishvili family, which has been making wine for over a century.
The family-owned boutique winery makes limited, high series of white, amber, rosé, red, and sparkling
wines.
Besides producing its own grapes, Dakishvilis equiers the highest quality grapes from long-term partner
neighbor grape growers.
Annually the wine cellar produces around 50,000 bottles of wine.
Each wine series consists of 500 to 5,000 bottles, all released under the brand Dakishvili Family
Selection.

      </p>
    </div>
  </section>
  <div class="figcaption"></div>
  <!-- ! -->

  <div class="wineagw">
    <h1>CELLAR ATMOSPHERE</h1>
    <div class="textarealdiv">
      <span></span>
      <p>
        Here is a quiet atmosphere where old wine barrels from the Dakishvili
        cellar have found a new life, repurposed as tables and armchairs for
        local wine lovers.
      </p>
      <span></span>
    </div>
    <aside>
      <div class="winesdiv">
        <div class="winesitem">
          <img src="/assets/fotoebi/about-4.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/cellar-3.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/PSX_20221112_185523.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/PSX_20221112_185612.jpg" alt="" />
        </div>
      </div>
    </aside>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.2432595840655!2d45.48919497594615!3d41.909129071238354!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x404432b8d8004411%3A0x1a6f92ec13d621ef!2sDakishvili%20Family%20Vineyards!5e0!3m2!1sen!2sge!4v1763898892473!5m2!1sen!2sge" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</main>
