<main>
  <figure></figure>
  <section>
    <div class="section-left" style="display: flex; justify-content: center">
      <h2 style="text-align: center">
        დაქიშვილების<br />
        <br />
        საოჯახო მარანი
      </h2>
      <h3>
        <hr />
      </h3>
    </div>
    <div class="section-right">
      <p>
      დაქიშვილების მარანი აწარმოებს მხოლოდ მაღალი ხარისხის ღვინოებს შეზღუდული რაოდენობით. იგი 2002 წელს დააფუძნა გიორგი დაქიშვილმა. მარანი მდებარეობს სოფელ შალაურში, კახეთში — საქართველოს ღვინის ყველაზე ცნობილ რეგიონში, ქვეყნის აღმოსავლეთ ნაწილში.

კახეთი ცნობილია ღვინის უძველესი ტრადიციებით და აღიარებულია ქარვისფერი (კანთან კონტაქტის მეთოდით დამზადებული) ღვინის ტექნოლოგიის სამშობლოდ. შალაური მთებითა და ტყეებით არის გარემოცული და ითვლება ერთ-ერთ ყველაზე სუფთა ეკოლოგიურ ზონად რეგიონში.

დაქიშვილებისთვის მეღვინეობა მხოლოდ საქმიანობა კი არა, არამედ ოჯახური ტრადიციაა, რომელიც საუკუნეზე მეტ გამოცდილებას ეფუძნება და ცხოვრების სტილს წარმოადგენს. ბუტიკის ტიპის, ოჯახური მარანი აწარმოებს შეზღუდულ სერიებს: თეთრ, ქარვისფერ, ვარდისფერ, წითელ და ცქრიალა ღვინოებს.

საკუთარ ვენახებთან ერთად, დაქიშვილები ყურძენს იძენენ მხოლოდ გრძელვადიანი პარტნიორი მევენახეებისგან, რომლებიც ხარისხის უმაღლეს სტანდარტებს იცავენ. მარანი წელიწადში დაახლოებით 50,000 ბოთლს უშვებს, თითოეული სერია კი 500-დან 5,000 ბოთლამდე მოიცავს. ყველა ღვინო წარმოდგენილია Dakishvili Family Selection ბრენდით.


      </p>
    </div>
  </section>
  <div class="figcaption"></div>
  <!-- ! -->

  <div class="wineagw">
    <h1>მარნის გარემო</h1>
    <div class="textarealdiv">
      <span></span>
      <p>
       აქ არის წყნარი ატმოსფერო, სადაც დაქიშვილების მარნის ძველმა კასრებმა ახალი სიცოცხლე იპოვეს, ღვინის მოყვარულებისთვის ისინი მაგიდებად და სავარძლებად იქცნენ.

      </p>
      <span></span>
    </div>
    <aside>
      <div class="winesdiv">
        <div class="winesitem">
          <img src="/assets/fotoebi/about-4.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/cellar-3.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/PSX_20221112_185523.jpg" alt="" />
        </div>
        <div class="winesitem">
          <img src="/assets/fotoebi/PSX_20221112_185612.jpg" alt="" />
        </div>
      </div>
    </aside>
  </div>
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d441.3175051978109!2d45.47334117837289!3d41.918261059764184!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x24f090f1fea12857%3A0x349f005d6d57886e!2sDakishvili%20Wine%20%26%20Chocolate!5e0!3m2!1ska!2sge!4v1749548209436!5m2!1ska!2sge"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </div>
</main>
